<h1><%= @form.name %></h1>
<p>Tady bude asi nejaky popis formulare</p>
<%= link_to 'Stáhnout v csv', form_path(@form, format: :csv), format: :csv %>

<div class="row">
  <div class="col-sm-6">
    <%= create_form(@form) %>
  </div>

  <div class="col-sm-6">
    <table class="form-table">
      <thead>
        <tr>
          <% @form.form_inputs.each do |input| %>
            <th>
              <%= input.title %>
            </th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% @form.data_entries.each do |entry| %>
          <tr>
            <% entry.inputs.each do |input| %>
              <td><%= input[1] %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

